body{
background-image: url(Main/Characters/Ninjago.jpeg);







}
button#summarys{
background-color: transparent;
border-color: transparent;

}
button#Characters{
background-color: transparent;
border-color: transparent;
}
button#Main{
background-color:transparent;
border-color: transparent;

}
button#Characters:hover{
background-color: green;
cursor:pointer
}
button#Main:hover{
background-color: blue;
cursor:pointer
}
button#summarys:hover{
background-color: red;
cursor:pointer
}
button#About{
    background-color:transparent;
    border-color: transparent;
}
button#About:hover{
    background-color: yellow;
    cursor:pointer
}
button{
    font-size: 25px;

}
h1#Main{
font-size: 60px;

}
section#home{
    font-size:25.0px;
   
}
section#about{
font-size:25px;
}