body{
background-image: url(Assets/Ninjago.jpeg);







}
button#summarys{
background-color: transparent;
border-color: transparent;

}
button#Characters{
background-color: transparent;
border-color: transparent;
}
button#Main{
background-color:transparent;
border-color: transparent;

}
button#Characters:hover{
background-color: green;
cursor:pointer
}
button#Main:hover{
background-color: blue;
cursor:pointer
}
button#summarys:hover{
background-color: red;
cursor:pointer
}
button#About{
    background-color:transparent;
    border-color: transparent;
}
button#About:hover{
    background-color: yellow;
    cursor:pointer
}
button{
    font-size: 25px;
    font-style: italic;
}
h1#Main{
font-size: 60px;
display: block;
margin:auto;
}
section#home{
    font-size:20px;
    font-style: bold;
}