#Caculator{
    background-color: rgba(19, 20, 20, 0.726);
    border-style: solid;
    border-color:transparent;
    border-radius: 25%;
    color:white;
    font-style: bold;
    height:500px;
    width:500px;
    margin:auto;
    padding:2px;
}
#keys,#Keys{
    background-color:rgba(255, 68, 0, 0.699);
    border-radius:25%;
    border-style: solid;
    text-align:center;
    color:white;
    border-color:transparent;
    font-size:10px;
}
